input[type="checkbox"].w3-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].w3-switch+label {
    position: relative;
    padding: 5px 0 0 60px;
    line-height: 2.0em;
}

input[type="checkbox"].w3-switch+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 48px;
    /* x*5 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #bbbbbb;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].w3-switch+label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].w3-switch+label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].w3-switch:checked+label:after {
    margin-left: 24px;
}

input[type="checkbox"].w3-switch:checked+label:before {
    background: #4CAF50;
}

input[type="checkbox"].w3-lamp {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].w3-lamp+label {
    position: relative;
    padding: 5px 0 0 60px;
    line-height: 2.0em;
}

input[type="checkbox"].w3-lamp+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 48px;
    height: 24px;
    border-radius: 16px;
    background: #777777;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].w3-lamp:checked+label:before {
    background: #4CAF50;
}
